[Desktop Entry]
Name=youker-assistant
Name[zh_CN]=Wifi助手
Comment=WifiAssist
Keywords=Settings
Exec=/usr/bin/wifi
Icon=/usr/share/icons/WifiAssist.ico
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;

